	<h3 style="text-align: right"><%= link_to '', new_list_path, { :class => "glyphicon glyphicon-plus" } %></h3>
	<h3>All todo lists</h3>
		<% @lists.each do |list| %>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><%= link_to "#{ list.title }", list %></h3>					
				</div>
				
				<div class="panel-body">
					<%= list.text %>
				</div>
			</div>
		<% end %>

